.top-container {
    background-color: #7F8CAA;
    position: relative;
    padding-top: 50px
}

body {
    background-color: white;
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 15px;
}


.bottom-container {
    background-color: #7F8CAA;
    font-size: 0.75rem;
}
    

    .btn {
    background: #7F8CAA;
    -webkit-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 50px;
    text-decoration: none;
}

a {
    color: #40514e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright {
    padding: 20px 0;
}

.footer-link {
    padding: 20px 0;
    display: block;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: top;
    justify-items: center;
    width: 80%;
    margin: 100px;
    text-align: left;
    row-gap: 2rem;
}

.typing {
    justify-self: right;
    margin-right: 50px;
}

.profile {
    margin-top: 50px
}

.contact-me {
    margin: 50px
}